# === ignore heavy model & data artifacts ===
*.pkl
*.csv
/data/
/backend/models/pkl/

# notebooks checkpoints
*.ipynb_checkpoints/

# python cache / env
__pycache__/
*.pyc
venv/
backend/.env
.DS_Store

# OS and IDE
.idea/
.vscode/
